<html lang="ko" class="darkmode">

<head>
	<title>CONNECTING HEARTS! 디시인사이드입니다.</title>
	<link rel="canonical" href="https://www.dcinside.com/">
	<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.dcinside.com/">
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico" />
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/main.css?v=220614">
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?v=2205">
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2" />
	<!-- link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dgn/dccone/css/dccone.css"/-->

	<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/><![endif]-->
	<!--[if lt IE 9]>
<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
<![endif]-->
	<!--[if gte IE 9]>
<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
<![endif]-->
	<!--[if !IE]> -->
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/common_json.js?210517"></script>
	<script type="text/javascript" src="/_js/common.js?220322"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js?180416"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.js"></script>
	<script type="text/javascript" src="/_js/crossDomainStorage.js?v=220711"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_new.js?210414"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/globalSearch.js?v=220711"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2208"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2208"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite.js?v=2208"></script>
	<script type="text/javascript" src="https://www.dcinside.com/_js/realtime_best.js?v=220613"></script>
	<script type="text/javascript">
		document.domain = "dcinside.com";
		var json_param = '20221023172447';

		//IE6 PNG bug
		function setPng24(obj) {
			obj.width = obj.height = 1;
			obj.className = obj.className.replace(/\bpng24\b/i, '');
			obj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + obj.src + "',sizingMethod='image');";
			obj.src = '';
			return '';
		}
	</script>
	<!-- 타불라의 콘텐츠형 광고 -->
	<script type="text/javascript">
		window._taboola = window._taboola || [];
		_taboola.push({ category: 'auto' });
		!function (e, f, u, i) {
			if (!document.getElementById(i)) {
				e.async = 1;
				e.src = u;
				e.id = i;
				f.parentNode.insertBefore(e, f);
			}
		}(document.createElement('script'),
			document.getElementsByTagName('script')[0],
			'//cdn.taboola.com/libtrc/dcinside/loader.js',
			'tb_loader_script');
	</script>
	<!-- 타불라의 콘텐츠형 광고 -->
</head>

<body>
	<script type="text/javascript">
		window._taboola = window._taboola || [];
		_taboola.push({ flush: true });
	</script>
	<!--스킵 내비게이션-->
	<div class="skip">
		<title>CONNECTING HEARTS! 디시인사이드입니다.
		<a href="#search_wrap"><span>통합검색 바로가기</span></a>
		<a href="#login"><span>로그인영역 바로가기</span></a>
		<a href="#container"><span>본문영역 바로가기</span></a>
	</div>
	<!--//스킵 내비게이션-->
	<div id="top" class="dcwrap">
		<!-- 상단 -->
		<header class="dcheader typea">
			<div class="dchead">
				<!-- 로고영역 -->
				<h1 class="dc_logo">
					<script type="text/javascript">
						dc_logo = 'https://nstatic.dcinside.com/dc/logo_day/dc_logo_g01.gif';
						dark_logo = 'https://nstatic.dcinside.com/dc/logo_day/dc_logo_dark_g01.gif';
					</script>

					<a href="https://www.dcinside.com/"
						style="background-image:url(https://nstatic.dcinside.com/dc/logo_day/dc_logo_g01.gif)"><span
							class="blind">디시인사이드</span></a>
				</h1>

				<!-- //로고영역 -->

				<div id="search_wrap" class="wrap_search">
					<h2 class="blind">갤러리 검색</h2>
					<!-- 갤러리 통합검색 -->
					<form id="searchform" name="search_process" class="sch_smit" method="get" accept-charset="utf-8"
						action="" role="search" onSubmit="return globalSearch(this);">
						<fieldset>
							<legend class="blind">통합검색</legend>
							<div class="top_search clear">
								<div class="inner_search">
									<input class="in_keyword" type="text" name="search" id="preSWord" title="검색어 입력"
										value="" placeholder="갤러리 & 통합검색" accesskey="f" type="search" autocomplete="off"
										onfocus="show_search_keywords(this)">
								</div>
								<button class="sp_main bnt_search" id="searchSubmit"><span
										class="blind">검색</span></button>
							</div>
						</fieldset>
					</form>
					<!-- //갤러리 통합검색 -->

					<!-- 검색 자동완성 레이어-->
					<div class="auto_wordwrap" style="left:0;top:46px;display:none">
						<!--자동완성 레어이 : display:block -->
					</div>
					<!-- //검색 자동완성 레이어 -->
				</div>

			</div>
		</header>
		<!-- //상단 -->

		<!-- GNB -->
		<div class="gnb_bar">
			<nav class="gnb clear">
				<h2 class="blind">GNB</h2>
				<ul class="gnb_list clear">
					<li>
						<a href="https://gall.dcinside.com" class="hover_gnb link_gnb" url_code="gallery">갤러리</a>
						<span class="gnb_area"
							style="display:block;width:77px;height:12px;position:absolute;left:0;bottom:0;"></span>
						<!-- 2차메뉴 -->
						<div class="depth2" style="left:0;display:none">
							<!--2차메뉴 열림 : display:block -->
							<span class="sp_img depth_bg"></span>
							<ul class="depth2_list">
								<li><a href="https://game.dcinside.com">게임</a></li>
								<li><a href="https://enter.dcinside.com">연예/방송</a></li>
								<li><a href="https://sports.dcinside.com">스포츠</a></li>
								<li><a href="https://edu.dcinside.com">교육/금융/IT</a></li>
								<li><a href="https://travel.dcinside.com">여행/음식/생물</a></li>
								<li><a href="https://hobby.dcinside.com">취미/생활</a></li>
							</ul>
						</div>
						<!-- //2차메뉴 -->
					</li>
					<li><a href="https://gall.dcinside.com/m" class="link_gnb" url_code="mgallery">마이너갤</a></li>
					<li><a href="https://gall.dcinside.com/n" class="link_gnb" url_code="migallery">미니갤</a></li>
					<li><a href="https://gallog.dcinside.com" class="link_gnb" url_code="gallog">갤로그</a></li>
					<li><a href="https://dcnewsj.joins.com" class="link_gnb" url_code="dcnews">디시뉴스</a></li>
					<li><a href="https://h5.dcinside.com" class="link_gnb" url_code="dcgame">디시게임</a></li>
					<li><a href="https://wiki.dcinside.com" class="link_gnb" url_code="dcwiki">디시위키</a></li>
					<li><a href="https://event.dcinside.com" class="link_gnb" url_code="event">이벤트</a></li>
					<li><a href="https://mall.dcinside.com/?from=A08" class="link_gnb" url_code="dccon">디시콘</a></li>
				</ul>

				<!-- 어제 게시글,댓글 등록 -->
				<div class="gall_exposure">
					<div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num"
								id="total_content_count">828,176개</em> 게시글 등록</a></div>
					<div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num"
								id="total_reple_count">2,068,097개</em> 댓글 등록</a></div>
					<div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
				</div>
				<!-- /어제 게시글,댓글 등록 -->
			</nav>
		</div>
		<!-- //GNB -->

		<div class="visit_bookmark" id="visit_history">
			<!-- newvisit_history.vst 최근 방문 -->
			<div class="newvisit_history vst">
				<!-- 최근 방문 클래스 .newvisit_history.vst /  즐겨찾기 클래스 .newvisit_history.bookmark -->
				<h3 class="tit vst_title l_div_style" style="display:none">최근 방문</h3>
				<h3 class="tit bookmark_title f_div_style" style="display:none">즐겨찾기</h3>
				<button type="button" class="btn_open" onclick="openLately()"><span class="blind">레이어 열기</span><em
						class="sp_img icon_listmore"></em></button>
				<button type="button" class="bnt_visit_prev" style="display:none"><span class="blind">이전</span><em
						class="sp_img icon_prev"></em></button>
				<div class="newvisit_box">
					<!-- 최근방문 갤러리 리스트-->
					<ul class="newvisit_list vst_listbox l_div_style" style="display:none"></ul>
					<!-- //최근방문 갤러리 리스트-->
					<script id="lately_galls-tmpl" type="text/x-jquery-tmpl">
			<li class="lately_gall_${id}">
			<a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}
			<button type="button" class="btn_visit_del" data-id="${id}" data-gtype="${type}"><span class="blind">삭제</span><em class="icon_visit_del"></em></button>
			</li>
			</script>
					<!-- 즐겨찾기 갤러리 리스트-->
					<ul class="newvisit_list  bkmark_listbox f_div_style" style="display:none"></ul>
					<script id="favorite_galls-tmpl" type="text/x-jquery-tmpl">
			<li><a href="http://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
			</script>
					<!-- //즐겨찾기 갤러리 리스트-->
				</div>
				<button type="button" class="bnt_visit_next" style="display:none"><span class="blind">다음</span><em
						class="sp_img icon_next"></em></button>
				<button type="button" class="bnt_newvisit_more" style="display:none" onclick="openLately()">전체</button>

				<!-- 최근방문 / 즐겨찾기 레이어 -->
				<div class="pop_wrap gray1px" style="left:0;top:37px;display:none" id="visit_history_lyr">
					<div class="pop_content under_catelist newvisit_layer">
						<div class="tabs">
							<ul class="tabslist clear">
								<li class="tab_l"><button type="button" onclick="tabLately('lately')">최근 방문</button>
								</li>
								<li class="tab_f"><button type="button" onclick="tabLately('favorite')">즐겨찾기</button>
								</li>
							</ul>
						</div>
						<div class="toptab_content">
							<div class="visit_div l_div_style">
								<!-- 최근 방문 리스트  -->
								<div class="visit_tablist" style="display:block">
									<!-- .under_listbox.vst_list -->
									<ul class="under_listbox vst_list">
										<script id="lately_gallsall-tmpl" type="text/x-jquery-tmpl">
							<li class="lately_gall_${id} {{if type == 'MI'}} mi{{else type == 'M'}} m{{/if}}"><a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{else}}{{/if}}<button type="button" class="btn_visit_del" data-id="${id}" data-gtype="${type}"><span class="blind">삭제</span><em class="icon_visit_del"></em></button></li>
							</script>
									</ul>
									<div class="tabcon_bottom">
										<button type="button" class="list_modi">전체 삭제</button>
									</div>
									<!-- .under_listbox.vst_list -->
								</div>
								<!-- //최근 방문 리스트 -->
							</div>
							<div class="favorite_div f_div_style">
								<!-- 즐겨찾기 리스트  -->
								<div class="bkmark_tablist">
									<!-- .under_listbox.bkmark -->
									<ul class="under_listbox bkmark">
										<script id="favorite_gallsall-tmpl" type="text/x-jquery-tmpl">
							<li {{if type == 'MI'}}class="mi" {{else type == 'M'}} class="m" {{/if}} style ='display:none;'><a href="http://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
							</script>
									</ul>
									<!-- //.under_listbox.bkmark -->
									<div class="tabcon_bottom">
										<div class="bottom_paging_wrap">
											<div class="bottom_paging_box iconpaging"></div>
										</div>
										<button type="button" class="list_modi" onclick="myFavorite('185')">편집</button>
										<!-- .pop_wrap.type3 즐겨찾기 레이어 -->
										<div class="pop_wrap type3" style="right:-9px;top:35px;display:none">
											<div class="pop_content favorite_list">
												<div class="pop_head">
													<h3>즐겨찾기 갤러리</h3>
												</div><!-- 220419 텍스트 수정-->
												<div class="inner">
													<div class="pop_info">
														<p>즐겨찾는 갤러리 리스트입니다.</p>
														<p>갤러리명 클릭 시 해당 갤러리로 이동합니다.</p>
													</div>
													<!-- 즐겨찾기 삭제시 button 태그에 클래스 off -->
													<ul class="list_box" style=""></ul>
												</div>
												<div class="btn_box">
													<button type="button" class="btn_cancle">취소</button>
													<button type="button" class="btn_apply">저장</button>
												</div>
											</div>
											<button type="button" class="poply_bgblueclose"><span class="blind">즐겨찾기 레이어
													닫기</span><em class="sp_img icon_bgblueclose"></em></button>
										</div>
										<!-- //.pop_wrap.type3 즐겨찾기 레이어 -->
									</div>
								</div>
								<!-- //즐겨찾기 리스트  -->
							</div>
						</div>
					</div>
				</div>
				<!-- // 최근방문 / 즐겨찾기 레이어 -->
			</div>
			<!-- //newvisit_history.visit 최근 방문 -->
		</div>


		<!-- 본문 -->
		<main id="container">
			<div class="main_content clear">
				<!-- left_content -->
				<section class="left_content">
					<h2 class="blind">본문 왼쪽 컨텐츠 영역</h2>


					<article>
						<div class="content hit_con" id="hit_content">
							<header class="con_head">
								<h3 class="head_tit"><a href="https://gall.dcinside.com/board/lists/?id=hit">HIT 갤러리</a>
								</h3>
								<div class="pageing">
									<div class="page_num">
										<strong class="now_num" id="hitNum">1</strong>/<span class="total_num"
											id="hitTotal">3</span>
									</div>
									<div class="btn_box">
										<button type="button" class="sp_main btn_prev" id="hit_prev"><span
												class="blind">이전</span></button>
										<button type="button" class="sp_main btn_next on" id="hit_next"><span
												class="blind">다음</span></button>
									</div>
								</div>
							</header>